<h2>Eventos</h2>
<hr>

<form action="" class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="Buscar">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Código</th>
      <th><button>exibir</button></th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos">
      <td>{{evento.eventoId}}</td>
      <td>
        <img src="/assets/{{evento.imagemURL}}" alt="Imagem do evento"
        [style.width.px]="widthImg"
        [style.margin.px]="marginImg">
      </td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento localizado.</h4>
      </td>
    </tr>
  </tfoot>
</table>

