<app-titulo [titulo]="'Perfil'"></app-titulo>

<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img
                src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                name="aboutme" width="120" height="120" class="rounded-circle">
            </a>
          </div>
          <div class="card-body">
            <div class="h4 text-center mb-3">@ramonehb</div>
            <div class="h7 text-bold pb-1"><b>Nome:</b> Humberto Ramone</div>
            <div class="h7">
              Developer of web applications, C#, Java e JavaScript.
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">24</div>
                  <div class="h6 text-muted">Eventos Ministrados</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">854</div>
                  <div class="h6 text-muted">Eventos Participados</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="form-row">
          <div class="form-group col-12">
            <h3 class="border-bottom">Detalhe Perfil</h3>
          </div>
          <div class="form-group col">
            <label>Título</label>
            <select class="form-control">
              <option value=""></option>
              <option value="0">Não Quero</option>
              <option value="Senhorita">Tecnólogo(a)</option>
              <option value="Senhorita">Bacharel</option>
              <option value="Senhorita">Especialista</option>
              <option value="Senhorita">Pós Graduado(a)</option>
              <option value="Senhorita">Mestre</option>
              <option value="Senhorita">Doutor(a)</option>
              <option value="Senhorita">Pós Doc</option>
            </select>
          </div>
          <div class="form-group col-sm-5">
            <label>Primeiro Nome</label>
            <input type="text" class="form-control" formControlName="nome"
              [ngClass]="{'is-invalid': f.nome.errors && f.nome.touched}" />
            <div *ngIf="f.nome.errors?.required" class="invalid-feedback">
              Nome é obrigatório.
            </div>
            <div *ngIf="f.nome.errors?.minlength" class="invalid-feedback">
              Nome deve conter no mínimo 3 caracteres.
            </div>
            <div *ngIf="f.nome.errors?.maxlength" class="invalid-feedback">
              Nome deve conter no máximo 20 caracteres.
            </div>
          </div>
          <div class="form-group col-sm-5">
            <label>Último nome</label>
            <input type="text" class="form-control" formControlName="ultimoNome"
              [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched}" />
            <div *ngIf="f.ultimoNome.errors?.required" class="invalid-feedback">
              Ultimo Nome é obrigatório.
            </div>
            <div *ngIf="f.ultimoNome.errors?.minlength" class="invalid-feedback">
              Ultimo Nome deve conter no mínimo 3 caracteres.
            </div>
            <div *ngIf="f.ultimoNome.errors?.maxlength" class="invalid-feedback">
              Ultimo Nome deve conter no máximo 20 caracteres.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-5">
            <label>E-mail</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': f.email.errors && f.email.touched}"
              formControlName="email" />
            <div *ngIf="f.email.errors?.required" class="invalid-feedback">
              e-mail é obrigatório.
            </div>
            <div *ngIf="f.email.errors?.email" class="invalid-feedback">
              Informe um e-mail valido.
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label>Telefone</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': f.telefone.errors && f.telefone.touched}"
            formControlName="telefone" placeholder="(00) 00000-0000">
            <div *ngIf="f.telefone.errors?.required" class="invalid-feedback">
              Telefone é obrigatório.
            </div>
            <div *ngIf="f.telefone.errors?.minlength" class="invalid-feedback">
              Telefone deve ter no mínimo 11 caracteres.
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Função</label>
            <select class="form-control">
              <option value=""></option>
              <option value="Participante">Participante</option>
              <option value="Palestrante">Palestrante</option>
            </select>
          </div>
          <form-group class="col-12">
            <label>Descrição</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': f.descricao.errors && f.descricao.touched}" formControlName="descricao" />
            <div *ngIf="f.descricao.errors?.required" class="invalid-feedback">
              Descrição é obrigatório.
            </div>
            <div *ngIf="f.descricao.errors?.minlength" class="invalid-feedback">
              Descrição deve conter no mínimo 3 caracteres.
            </div>
            <div *ngIf="f.descricao.errors?.maxlength" class="invalid-feedback">
              Descrição deve conter no máximo 25 caracteres.
            </div>
          </form-group>
        </div>
        <div>
          <h3 class="pt-3 border-bottom">Mudar Senha</h3>
          <p>Caso mude de senha, preencha os campos abaixo:</p>
        </div>
        <div class="form-row">
          <div class="form-group col-sm">
            <label>Senha</label>
            <input type="password" class="form-control" [ngClass]="{'is-invalid': f.password.errors && f.password.touched}" formControlName="password"/>
            <div *ngIf="f.password.errors?.required" class="invalid-feedback">
              Senha é obrigatório.
            </div>
            <div *ngIf="f.password.errors?.minlength" class="invalid-feedback">
              Senha deve conter no mínimo 6 caracteres.
            </div>
            <div *ngIf="f.password.errors?.maxlength" class="invalid-feedback">
              Senha deve conter no máximo 15 caracteres.
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Confirmar Senha</label>
            <input type="password" class="form-control" [ngClass]="{'is-invalid': f.confirmPass.errors && f.confirmPass.touched}" formControlName="confirmPass"/>
            <div *ngIf="f.confirmPass.errors?.required" class="invalid-feedback">
              Confirmação de senha é obrigatório.
            </div>
            <div *ngIf="f.confirmPass.errors?.minlength" class="invalid-feedback">
              Confirmação de senha deve conter no mínimo 6 caracteres.
            </div>
            <div *ngIf="f.confirmPass.errors?.maxlength" class="invalid-feedback">
              Confirmação de senha deve conter no máximo 15 caracteres.
            </div>
            <div *ngIf="f.confirmPass.errors?.senhasIguais" class="invalid-feedback">
              As senhas devem ser iguais.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid" (click)="confirm()">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Alteração
        </button>
      </div>
    </div>
  </form>
</div>
