<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <!-- <p>{{form.value | json}}</p>
      <p>{{form.status | json}}</p> -->
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input type="text" class="form-control" [ngClass]="formValidator(f.tema)"
            formControlName="tema" placeholder="Insira o Tema">
          <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
            Tema é obrigatorio.
          </div>
          <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">
            Tema deve ter no mínimo 4 caracteres.
          </div>
          <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">
            Tema deve ter no máximo 50 caracteres.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input type="text" class="form-control" [ngClass]="formValidator(f.local)"
            formControlName="local" placeholder="Insira o Local">
          <div *ngIf="f.local.errors?.required" class="invalid-feedback">
            Local é obrigatório.
          </div>
          <div *ngIf="f.local.errors?.minlength" class="invalid-feedback">
            Local deve ter no mínimo 4 caracteres.
          </div>
          <div *ngIf="f.local.errors?.maxlength" class="invalid-feedback">
            Local deve ter no máximo 50 caracteres.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input type="datetime" class="form-control"
            [ngClass]="formValidator(f.dataEvento)" formControlName="dataEvento"
            value="{{evento.dataEvento | DateFormatPipe}}"
            bsDatepicker
            [bsConfig]="bsConfig"
            placeholder="Insira a Data">
          <div class="invalid-feedback">
            Data e Hora é obrigatório.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Qtd Pessoas</label>
          <input type="text" class="form-control"
            [ngClass]="formValidator(f.qtdPessoas)" formControlName="qtdPessoas"
            placeholder="Quantidade de pessoas">
          <div *ngIf="f.qtdPessoas.errors?.required" class="invalid-feedback">
            Qtd Pessoas é obrigatório.
          </div>
          <div *ngIf="f.qtdPessoas.errors?.max" class="invalid-feedback">
            Qtd Pessoas não pode ser maior que 120000.
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input type="text" class="form-control" [ngClass]="formValidator(f.telefone)"
            formControlName="telefone" placeholder="(00) 00000-0000">
          <div *ngIf="f.telefone.errors?.required" class="invalid-feedback">
            Telefone é obrigatório.
          </div>
          <div *ngIf="f.telefone.errors?.minlength" class="invalid-feedback">
            Telefone deve ter no mínimo 11 caracteres.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>e-mail</label>
          <input type="text" class="form-control" [ngClass]="formValidator(f.email)"
            formControlName="email" placeholder="Insira o E-mail">
          <div *ngIf="f.email.errors?.required" class="invalid-feedback">
            e-mail é obrigatório.
          </div>
          <div *ngIf="f.email.errors?.email" class="invalid-feedback">
            Insira um e-mail valido.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input type="text" class="form-control" [ngClass]="formValidator(f.imagemURL)"
            formControlName="imagemURL" placeholder="Insira a Imagem">
          <div class="invalid-feedback">
            Imagem é obrigatório.
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid" (click)="confirm()">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
