<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <!-- <p>{{form.value | json}}</p>
      <p>{{form.status | json}}</p> -->
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input type="text" class="form-control" [ngClass]="formValidator(f.tema)" formControlName="tema" placeholder="Insira o Tema">
          <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
            Tema é obrigatorio.
          </div>
          <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">
            Tema deve ter no mínimo 4 caracteres.
          </div>
          <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">
            Tema deve ter no máximo 50 caracteres.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input type="text" class="form-control" [ngClass]="formValidator(f.local)" formControlName="local" placeholder="Insira o Local">
          <div *ngIf="f.local.errors?.required" class="invalid-feedback">
            Local é obrigatório.
          </div>
          <div *ngIf="f.local.errors?.minlength" class="invalid-feedback">
            Local deve ter no mínimo 4 caracteres.
          </div>
          <div *ngIf="f.local.errors?.maxlength" class="invalid-feedback">
            Local deve ter no máximo 50 caracteres.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input type="datetime" class="form-control"
            [ngClass]="formValidator(f.dataEvento)" formControlName="dataEvento"
            value="{{evento.dataEvento | DateFormatPipe}}"
            bsDatepicker
            [bsConfig]="bsConfig"
            placeholder="Insira a Data">
          <div class="invalid-feedback">
            Data e Hora é obrigatório.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Qtd Pessoas</label>
          <input type="text" class="form-control"
            [ngClass]="formValidator(f.qtdPessoas)" formControlName="qtdPessoas"
            placeholder="Quantidade de pessoas">
          <div *ngIf="f.qtdPessoas.errors?.required" class="invalid-feedback">
            Qtd Pessoas é obrigatório.
          </div>
          <div *ngIf="f.qtdPessoas.errors?.max" class="invalid-feedback">
            Qtd Pessoas não pode ser maior que 120000.
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input type="text" class="form-control" [ngClass]="formValidator(f.telefone)"
            formControlName="telefone" placeholder="(00) 00000-0000">
          <div *ngIf="f.telefone.errors?.required" class="invalid-feedback">
            Telefone é obrigatório.
          </div>
          <div *ngIf="f.telefone.errors?.minlength" class="invalid-feedback">
            Telefone deve ter no mínimo 8 caracteres.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>e-mail</label>
          <input type="text" class="form-control" [ngClass]="formValidator(f.email)"
            formControlName="email" placeholder="Insira o E-mail">
          <div *ngIf="f.email.errors?.required" class="invalid-feedback">
            e-mail é obrigatório.
          </div>
          <div *ngIf="f.email.errors?.email" class="invalid-feedback">
            Insira um e-mail valido.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input type="text" class="form-control" [ngClass]="formValidator(f.imagemURL)"
            formControlName="imagemURL" placeholder="Insira a Imagem">
          <div class="invalid-feedback">
            Imagem é obrigatório.
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetarForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarAlteracao(evento)">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>

<div class="card rounded shadow-sm mt-4">
  <div class="p-3">
    <div class="d-flex border-bottom">
      <h2 class="mr-auto">
        Lotes do Evento
      </h2>
      <h2>
        <i class="fas fa-money-bill-wave"></i>
      </h2>
    </div>
    <p>Clique em Lote para adicionar e preencher novos Lotes</p>
    <div class="form-row p-1">
      <div [formGroup]="form" class="col">
        <div formArrayName="lotes" *ngFor="let lote of lotes.controls; let i=index">
          <fieldset [formGroupName]="i" class="form-group">
            <legend class="d-flex justify-content-between capitalize">
              <button class="p-2 btn btn-sm btn-outline-warning mb-1 d-flex"
                      tooltip="Excluir Lote"
                      [adaptivePosition]="false"
                      [delay]="500"
                      placement="left">
              <i class="fa fa-window-close my-1"></i>
              <b class="ml-1 d-none d-sm-block">Excluir</b>
            </button>
          </legend>
          <div class="row">
            <div class="form-group col-md-4">
              <label>Nome</label>
              <input [ngClass]="formValidator(lotes.get(i + '.nome'))" type="text" class="form-control" formControlName="nome" placeholder="Lote">
            </div>
            <div class="form-group col-md-4">
              <label>Quantidade</label>
              <input [ngClass]="formValidator(lotes.get(i + '.quantidade'))" type="text" class="form-control" formControlName="quantidade" placeholder="000">
            </div>
            <div class="form-group col-md-4">
              <label>Preço</label>
              <input [ngClass]="formValidator(lotes.get(i + '.preco'))" type="text" currencyMask class="form-control" formControlName="preco" placeholder="R$ 0,00">
            </div>
            <div class="form-group col-md-4">
              <label>Data Início</label>
              <input type="text" class="form-control" formControlName="dataInicio" placeholder="01/01/2023">
            </div>
            <div class="form-group col-md-4">
              <label>Data Fim</label>
              <input type="text" class="form-control" formControlName="dataFim" placeholder="01/01/2023">
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <button (click)="adicionarLote()" class="d-flex btn btn-outline-primary">
    <i class="fa fa-plus-circle my-1"></i>
    <b class="ml-1">Lote</b>
  </button>
  </div>
  <div class="card-footer">
  <div class="d-flex">
    <button class="btn btn-outline-secondary mr-auto border">
      Cancelar Alteração
    </button>
    <button class="btn btn-success">
      Salvar Lotes
    </button>
  </div>
  </div>
</div>
