<div class="row mt-4">

  <div class="col-md-6 d-none d-md-block" style="height: 450px;">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>Cadastro de Usuário</h1>
      <img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
    </div>
  </div>

  <div class="col-md-6">
    <form class="p-1" [formGroup]="form">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input type="text" class="form-control" [ngClass]="formValidator(f.nome)"
            placeholder="Insira o Primeiro nome" formControlName="nome" />
          <div *ngIf="f.nome.errors?.required" class="invalid-feedback">
            Nome é obrigatório.
          </div>
          <div *ngIf="f.nome.errors?.minlength" class="invalid-feedback">
            Nome deve conter no mínimo 3 caracteres.
          </div>
          <div *ngIf="f.nome.errors?.maxlength" class="invalid-feedback">
            Nome deve conter no máximo 20 caracteres.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input type="text" [ngClass]="formValidator(f.ultimoNome)"
            class="form-control" formControlName="ultimoNome" placeholder="Insira o Último nome" />
          <div *ngIf="f.ultimoNome.errors?.required" class="invalid-feedback">
            Ultimo Nome é obrigatório.
          </div>
          <div *ngIf="f.ultimoNome.errors?.minlength" class="invalid-feedback">
            Ultimo Nome deve conter no mínimo 3 caracteres.
          </div>
          <div *ngIf="f.ultimoNome.errors?.maxlength" class="invalid-feedback">
            Ultimo Nome deve conter no máximo 20 caracteres.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">e-mail:</label>
        <input class="form-control" type="text" [ngClass]="formValidator(f.email)"
          formControlName="email" placeholder="Insira o e-mail" />
        <div *ngIf="f.email.errors?.required" class="invalid-feedback">
          e-mail é obrigatório.
        </div>
        <div *ngIf="f.email.errors?.email" class="invalid-feedback">
          Informe um e-mail valido.
        </div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input class="form-control" [ngClass]="formValidator(f.user)" type="text"
          placeholder="Insira o nome de Usuário" formControlName="user" />
        <div *ngIf="f.user.errors?.required" class="invalid-feedback">
          Usuário é obrigatório.
        </div>
        <div *ngIf="f.user.errors?.minlength" class="invalid-feedback">
          Usuário deve conter no mínimo 3 caracteres.
        </div>
        <div *ngIf="f.user.errors?.maxlength" class="invalid-feedback">
          Usuário deve conter no máximo 20 caracteres.
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" type="password"
            [ngClass]="formValidator(f.password)" formControlName="password"
            placeholder="Digite uma Senha" />
          <div *ngIf="f.password.errors?.required" class="invalid-feedback">
            Senha é obrigatório.
          </div>
          <div *ngIf="f.password.errors?.minlength" class="invalid-feedback">
            Senha deve conter no mínimo 6 caracteres.
          </div>
          <div *ngIf="f.password.errors?.maxlength" class="invalid-feedback">
            Senha deve conter no máximo 15 caracteres.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control" type="password"
            [ngClass]="formValidator(f.confirmPass)" formControlName="confirmPass"
            placeholder="Confirme a Senha" />
          <div *ngIf="f.confirmPass.errors?.required" class="invalid-feedback">
            Confirmação de senha é obrigatório.
          </div>
          <div *ngIf="f.confirmPass.errors?.minlength" class="invalid-feedback">
            Confirmação de senha deve conter no mínimo 6 caracteres.
          </div>
          <div *ngIf="f.confirmPass.errors?.maxlength" class="invalid-feedback">
            Confirmação de senha deve conter no máximo 15 caracteres.
          </div>
          <div *ngIf="f.confirmPass.errors?.senhasIguais" class="invalid-feedback">
            As senhas devem ser iguais.
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5" [disabled]="!form.valid" (click)="confirm()">
            Cadastrar-se
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
